body, section, article, time, code, pre, h1, h2, h3, p, ol, ul, li, aside, blockquote, figure {
  margin: 0;
  padding: 0;
}

body {
    /* background: url(baseline.png); */
    padding: 3em 5%;
    font-size: 18px;
    box-sizing: border-box;
}

body, article {
     font-family: "Book Antiqua", Georgia, "Times New Roman", serif;
}

a {
  color: #09F;
  transition: all 250ms ease;
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  -ms-transition: all 250ms ease;
  padding: 0.1em 0.2em;
  margin: -0.1em -0.2em;
  border-radius: .2em;
  -webkit-border-radius: .2em;
  -moz-border-radius: .2em;
}

a:visited {
  color: #90F;
}

a:hover {
  background-color: #09F;
  color: white;
}

article {
    max-width: 33em;
}

article > p, article > ol, article > ul, article > aside, article > figure.highlight, article > blockquote, div.footnotes > ol, div.citation {
    line-height: 25px;
}

article > a, article > blockquote, article > ol, article > ul, article > aside {
  display: block;
}

article > ol, article > ul, article > aside > ol, article > aside > ul, article .footnotes > ol {
    padding-left: 30px;
}

article > hr {
    border: none;
    border-top: 0.1px solid #CCC;
    margin-top: 13px;
    margin-bottom: 26px;
}

article > blockquote {
    font-style: italic;
    padding-left: 30px;
}

blockquote blockquote {
    padding-left: 30px;
    color: #999;
}

article > blockquote em {
  font-weight: bold;
}

article figure.highlight, article > .highlighter-rouge, article > pre {
    margin-left: 15px;
    padding-left: 15px;
    border-left: 0.1px solid #CCC;
    color: #777;
}

article > pre > code {
  display: block;
}

article p code, article h3 code {
  padding: 0.1em 0.2em;
  margin: -0.1em 0;
  border-radius: .2em;
  -webkit-border-radius: .2em;
  -moz-border-radius: .2em;
  border: 1px solid #EEE;
  background: #F5F5F5 !important;
  font-size: 17px;
}

article a:hover code {
  background-color: transparent !important;
  border-color: transparent !important;
}

article code {
    font-family: Inconsolata;
}

article > *, li {
    margin-bottom: 13px;
}

article > p + aside, article > figure + aside, article > .citation, article > a + aside, article > canvas + aside, article .footnotes {
    font-size: 15px;
    line-height: 25px;
}

article .footnotes {
    padding-top: 25px;
}

article .footnotes li {
    margin-bottom: 0;
}

article > h1 + time {
    /* flex-basis: 38%; */
    text-transform: uppercase;
    color: #999;
    display: block;
    margin-top: -46px;
    margin-bottom: 46px;
}

h1, h2, h3 {
    font-size: 1em;
    line-height: 25px;
}

h1 {
    letter-spacing: 0.4px;
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 50px;
}

article > h1 {
}

h2 {
    letter-spacing: 0.4px;
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 12px;
}

h2, h3 {
    padding-top: 35px;
}

sup {
  font-size: 14px;
  line-height: 0;
}

aside, div.footnotes, div.citation {
    /* color: #999; */
    font-style: italic;
}

footer {
    margin-top: 37px;
}

footer p {
  color: #999;
}

footer a {
  color: #9CF;
}

footer a:visited {
  color: #C9F;
}

footer a:hover {
  background: #9CF;
  color: white;
}

footer a:hover:visited {
  background: #C9F;
/*  color: white; */
}

.link h3 {
  display: inline;
  font-size: 18px;
}

@media (min-width: 900px) {
    article {
        display: flex;
        flex-wrap: wrap;
        max-width: 814px;
    }

    article > h1, article > time, article > time + aside, article > hr {
        flex-basis: 100%;
    }

    article > * {
        flex: 0 1 594px;
        padding-right: 20px;
    }
    article > aside {
        flex: 1 1 150px;
        max-width: 594px;
        height: 0;
    }

    article > time + aside {
        height: auto;
    }

    article figure.highlight, article > .highlighter-rouge, article > pre {
        padding-left: 10px;
        margin-left: 10px;
        flex-basis: 573px;
    }
}
