---
---
<!DOCTYPE html>
<html lang="en-AU">
  <head>
    <meta charset='utf-8'>

    <title>The Techscursion Index.</title>

    <link rel="stylesheet" href="/style.css" type="text/css">
  </head>

  <body id="the-index">
    <h1>The Techscursion Index</h1>

    {% for category in site.categories %}
    <section id="recent">
      <h2 id="{{category[0]}}">{{category[0]}}</h2>

      {% for page in category[1] %}
      <article class={{page.layout}}>
        <h3><a href="{{page.url}}">{{ page.title }}</a></h3>
        {% if page.date %}
        <time>Linked to on {{ page.date | date_to_long_string }}</time>
        {% endif %}
      </article>
    {% endfor %}
    </section>
    {% endfor %}

    <footer>
      <p>
        The <a href="/">Techscursion</a> Archive.
        <a href="/about">Read about the site</a>, if you like.
      </p>
    </footer>
  </body>
</html> 

