<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>

    <title>The Techscursion Archive</title>

    <link rel="stylesheet" href="/style.css" type="text/css">
    <link rel="stylesheet" href="/pygments.css" type="text/css">
  </head>

  <body>
    <h1>The Techscursion Archive</h1>

    {% for page in site.posts %}
    <article>
      <h2>{{ page.title }}</h2>
      <time>Published on {{ page.date | date_to_long_string }}</time>
      {{ content }}
    </article>
    {% endfor %}

  </body>
</html> 
