<!DOCTYPE html>
<html lang="en-AU">
  <head>
    <meta charset='utf-8'>

    <title>Techscursion.</title>

    <link rel="stylesheet" href="/style.css" type="text/css">
  </head>

  <body>
    <article id="front">
    {{ content }}
    </article>

    <section id="recent">
      <h2>Recent Techscursion(s)</h2>

    {% for page in site.posts limit:5 %}
    <article>
      <h3><a href="{{page.url}}">{{ page.title }}</a></h3>
      <time>Published on {{ page.date | date_to_long_string }}</time>
      {{page.intro | markdown }}
    </article>
    {% endfor %}
    </section>

    <footer>
      <p>There may be more in the <a href="/archive">archive</a>.</p>
    </footer>
  </body>
</html>